body {
    margin: 0;
    padding: 0;
}

.header-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background: #FF9595;
    z-index: 3;
    clip: rect(auto auto auto auto);
    display: none;
}

.header-bar .content--md {
    padding-top: 17px;
}

.header-bar img {
    max-width: 25px;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/*common classes*/
.gradient-cover {
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0.5), #F9F9F9); /* Standard syntax */
    width: 100%;
    z-index: 1;
}
.wp {
    background-image: url('../img/wp1-min.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.block {
    margin: 0;
    padding: 0;
    position: relative;
}

.content {
    padding: 30px 0;
    width: 85%;
    margin: 0 auto;
}

.content--sm {
    max-width: 500px;
    padding-bottom: 50px;
}

.content--md {
    max-width: 900px;
}

.content--lg {
    width: 100%;
}

.paragraph {
    font-size: 16px;
    line-height: 1.41;
}

.paragraph--dark {
    color: #747474;
}

.paragraph--light {
    color: #fff;
}

a:hover, a:active, a:focus {
    color: rgba(255, 80, 80, 1);
    text-decoration: none;
}

/*boxes on desktop*/
.box {
    width: 285px;
    height: 450px;
    background: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.box:not(:last-of-type){
    margin-right: 10px;
}

.box__top {
    height: 60%;
    padding: 75px 0 15px 0;
}

.box__top img {
    margin: auto;
}

.box__bottom {
    height: 40%;
}

/*height not to depend on content*/
.box__bottom p {
    display: inline-flex;
}

.row-table {
    display: table;
}

.row-table .row-cell {
    display: table-cell;
    float: none;
}
.row-table .row-cell--vcenter {
    vertical-align: middle;
}

.row-table--mobile .row-cell {
    display: inline-block;
}

@media (max-width: 500px) {
    .row-table--mobile {
        display: table !important;
    }

    .row-table--mobile .row-cell {
        display: table-cell;
        float: none;
    }
    .row-table--mobile .row-cell--vcenter {
        vertical-align: middle;
    }
}

.row-table--desktop .row-cell {
    width: 50%
}


@media (max-width: 990px) {
    .content--md {
        width: 85%;
    }
    .box {
        display: none;
    }

    .box--mobile {
        display: block;
    }
}

/*boxes on mobile*/
.box--mobile {
    width: 100%;
    background: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 40px 20px;
    display: table;
    text-align: left;
    margin: 0 auto 20px;
}

@media (min-width: 991px) {
    .content--md {
        width: 95%;
    }
    .box {
        display: inline-block;
    }

    .block__four .box--mobile {
        display: none;
    }
}

/*headers*/
h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 800;
}

h2 {
    color: white;
    margin-bottom: 5px;
}

p {
    margin: 0;
}

h1 {
    font-size: 30px;
    display: inline;
}

h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.header-container {
    height: 95px;
    display: block;
}

.header {
    position: absolute;
    top: 5px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    color: #333;
    height: 90px;
}

.header--white {
    background: #fff;
}

.header-before {
    max-width: 60px;
    display: inline;
    margin-right: 20px;
    margin-top: -5px;
}

.row-cell--vcenter .header-before {
    margin-top: -8px;
}

@media(max-width: 990px) {
    h1 {
        font-size: 23px;
    }
}

/*carousel*/
.carousel-control,
.carousel-control.right,
.carousel-control.left {
    background: none;
    top: 150px;
    bottom: auto;
}

.carousel-inner {
    width: 60%;
    margin: 0 auto;
}

.item {
    height: 520px;
}

.item p {
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .carousel-inner {
        width: 65%;
    }

    .carousel-control,
    .carousel-control.right,
    .carousel-control.left {
        top: 250px;
    }

    .block__two .content--md {
        width: 100%;
    }

    h3 {
        margin-bottom: 80px;
    }

    .item {
        height: 560px;
    }

    .header {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 560px) {
    .item {
        height: 600px;
    }
}

@media (max-width: 460px) {
    .item {
        height: 650px;
    }
}

@media (max-width: 375px) {
    .item {
        height: 750px;
    }

    .carousel-control,
    .carousel-control.right,
    .carousel-control.left {
        top: 300px;
    }

    .block__three {
        margin-top: -77px;
    }
}

@media (max-width: 345px) {
    .item {
        height: 800px;
    }
}

/*blocks*/

.block__one {
    height: 800px;
    z-index: 2;
}

.block__one .logo {
    margin: 250px auto 0 auto;
}

.block__one .content {
    z-index: 95;
}

.block__two {
    background-image: url('../img/wp2-min.png');
    background-repeat: no-repeat;
    background-position: center;
}

.block__three p {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .block__three p {
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.block__four {
    background-image: url('../img/wp4-min.png');
    background-repeat: no-repeat;
    background-position: center;
}

.block__five .about--small {
    text-align: center;
    width: 100%;
    padding: 60px 25%;
    border-top: 5px solid #c3c3c3;
}

@media(max-width: 768px) {
    .block__five .row.row-table {
        margin-bottom: 60px;
    }
    .block__five .row-table .row-cell {
        display: block !important;
    }
}

.block__five .row {
    margin: 0;
}

.block__six {
    background-image: url('../img/wp6-min.png');
    background-repeat: no-repeat;
    background-position: center;
}

p.email {
    margin-bottom: 5px;
}

footer.block {
    padding: 25px 10px 40px;
    background: #2F2F2F;
}

footer img {
    width: 45px;
}

.footer-link {
    color: white;
    padding: 0 20px;
    padding-left: 32px;
    display: inline-block;
    margin-top: 15px;
}

.footer-separator:after {
    content: "\2022";
    color: white;
    font-size: 30px;
    position: absolute;
    top: 60px;
}

@media (max-width: 990px) {
    .footer-link {
        display: block;
        padding: 0;
        margin-top: 15px;
    }

    .footer-separator,
    .footer-separator:after {
        display: none;
    }

    footer img {
        position: absolute;
        right: 45px;
    }
}